<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yourResults</title>
</head>
<body id="bod">
    <style>
        
        #bod{
            margin: 0px,5px;
        }
        #bigBody{
           margin: 0px;
        }
        #container{
            margin: 0px;
            /* min-width: 100vw; */
        }
        #topic{
            background-color: rgb(84, 34, 14);
            height: 150px;
            padding: 0px;
            margin: 0px;
           
           
            
        }
        #schlDetails{
            display: flex;
            justify-content: space-between;
            margin: 0px 30px;

        }
        #firstPart{
            display: flex;
            justify-content: space-around;
            margin: 0px 30px;
        }
        
        #schoolLogo{
            width:150px ;
            height: 150px;
        }
        #schoolLogo img{
            width: 100%;
            height: 100%;
        }
        #studentName{
            color: white;
            font-size: 20px;
            margin: auto  200px;
            
        }
        .logout{
            display: flex;
            align-items: center;
        }
        .logout>a{
            color: white;
            font-size: 16px;
            
        }
        
        #schoolTitle {
            color: aliceblue;
            font-family: sans-serif;
            padding:8px;
            font-size: 20px;
            width: 200px;
            height:100px;
            margin:auto 5px;
        }
        
        #content{
            margin-top: 5px;
            min-height: 700px;
            display: flex;
            flex-direction: row;
            
        }
        #sidebar{
            background-color: rgb(84, 34, 14);
            height:690px;
            width:250px;
            margin-bottom: 5px;
        }
        #sidebar a{
            color: white;
            display: block;
            padding: 15px;
            font-size: 20px;
        }
        #adiv{
            height:40px;
            margin-top: 15px;
        }
        #sidebar a:hover{
            cursor: pointer;
            background-color: rgb(84, 34, 14);
        }
        #myGrd{
            width:990px;
            height: 90px;
            background-color: rgba(220,220,220);
            margin-left: 40px;
            border: 2px solid rgb(185, 185, 185);
        }
        #myGrd h3 ,span{
            padding-left: 5px;
        }
        #outerContainer{
            border: 1px solid rgb(220,220,220);
            margin: 40px;
                    
        }
        #outerContainer div h3{
            padding: 12px;
        }
        #innerContainer{
            border: 1px solid rgb(220,220,220);
            margin: 15px 15px;
            
        }
        #innerContainerSub{
            display: flex;
            justify-content:flex-end;
            padding: 20px;
        }
        #totalmarks{
            display: flex;
            justify-content: center;
            padding-bottom:20px;
        }
        #grdTable{
            margin: 20px 20px 50px 20px ;
        }
        #grdTable table{
            border-collapse: collapse;
            width: 900px;
        }
        #grdTable td,th{
            border: 1px solid grey;
            padding: 0.5rem;
            text-align: left;
        }
        #grdTable tr{
            height: 40px;
        }
        #right{
           width: 400px;
           height: 250px;
           margin-left: 40px;
           border: 1px solid rgb(199, 197, 197);
        }
        #footer{
            height: 30px;
            background-color: rgb(84, 34, 14);
        }
    </style>
    <div id="container">
        <div id="topic">
            <div id="schlDetails">
                <div id="firstPart">
                    <div id="schoolLogo">
                        <img src="/images/hogNew.png" >
                    </div>
                    <div id="schoolTitle"> Hogwarts School of Witchcraft and Wizardry  
                  
                </div>
                         
            </div>
            <div id="secondPart">
            </div id="studentIdentity">
            <%
            console.log(userDetails)
             userDetails.forEach(function(studentData){
             %>
            <div id ="studentName"> Hello <%=studentData.LastName %> ! </div>
            <%  ; }) %>
            <div class="logout">
                <a href="http://localhost:3000/auth/login">LogOut</a>
            </div>  
               
             </div>  
             
            </div>
        <div id="content">
            <div id="sidebar"> 
                <div id="adiv"> 
                    <a> campus info </a>
                </div>
                <div id="adiv"> 
                    <a> my grades </a>
                </div>
                <div id="adiv"> 
                    <a> my profile</a>
                </div>
                <div id="adiv"> 
                    <a> fee statement</a>
                </div>
                <div id="adiv"> 
                    <a> student services</a>
                </div>
                <div id="adiv"> 
                    <a> my career</a>
                </div>
                <div id="adiv"> 
                    <a> ICT support</a>
                </div>



            </div>
            <div id="mainContent">
                <div id="myGrd">
                    <h3>My Grades</h3>
                    <span>view all your grades here of the subjects you have completed</span>
                </div>
                <div id="outerContainer">
                    <div> 
                        <h3>Grades</h3>
                    </div>
                    <div id="innerContainer">
                        <div id="innerContainerSub"><input type="text" name="subjectSearch" placeholder="search"></div>
                        <div id="grdTable">
                            <table border ="1">
                                <tr>
                                    <th>COURSE CODE</th>
                                    <th>COURSE title</th>
                                    <th>CREDIT EARNED</th>
                                    <th>MARKS</th>
                                    
                
                                </tr>
                                <%
                                if(results.length!=0){
                                    var i=1;
                                    results.forEach(function(data){
                                 %>
                                 <tr>
                                    <!-- <td><%=i; %></td> -->
                                    <td><%=data.subjectCode %></td>
                                    <td><%=data.subjectsName %></td>
                                    <td><%=data.creditsEarned %></td>
                                    <td><%=data.marks %></td>
                                   
                                </tr>
                                <%  i++; }) %>
                                <% } else{ %>
                                    <tr>
                                        <td colspan="7">No Data Found</td>
                                    </tr>
                                <% } %>
                            </table>
                
                        </div>
                        <div id="totalmarks">
                            <span>Total Marks =</span>
                        </div>
                    </div>
                </div>
                
                </div>
                <div id="right">
                    <div id="date">
                        <p id="todayDate"></p>
                        <script>
                            const d = new Date();
                            document.getElementById("todayDate").innerHTML= d;
                        </script>
                    

                    </div>
                    <div id="print"></div>
                    <div id="tel">

                    </div>
                    </div>
            </div>
        </div>
        <div id="footer"> 
            <footer></footer>
        </div>
    </div>
</body>
</html>